In [1]:
import mysql.connector
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
bd = mysql.connector.connect(
    host= 'iosqlde.onairnet.xyz',
    user= 'vienna_airport',
    password= 'Vie23@#@',
    database= 'aeropuerto_viena',
    auth_plugin= 'mysql_native_password'
)

In [3]:
def sql(_query):
    return pd.read_sql_query(_query, bd)

In [4]:
sql("SELECT * FROM aeropuerto_viena.repostajes")

              id  id_gasolinera  id_vehiculo  litros  precio_litro       fecha
0     0002-NDEGT              9          268   48.44          0.82  2022-09-20
1     0002-UUGGA              9          237   24.60          1.06  2022-10-16
2     0005-YVHPK              5          438    6.54          1.20  2022-03-30
3     0007-VPNPD              3          273   22.86          0.81  2022-06-08
4     0012-PFJLI              2          170   43.80          0.55  2022-07-02
...          ...            ...          ...     ...           ...         ...
1998  9967-FFMAM              6           95   14.82          0.70  2022-06-03
1999  9967-YDHLY              3          455   15.38          1.45  2022-08-18
2000  9974-PIWMZ              5          356   27.04          1.14  2022-01-22
2001  9977-HMNTX              6          287   30.83          0.97  2022-03-04
2002  9985-ICQNR              6          285   24.86          0.92  2022-05-22

[2003 rows x 6 columns]